name: cd

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Goose
        uses: mscno/setup-goose@v1
    
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Build app
        run: ./scripts/buildprod.sh

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v3'

      - name: 'Build Docker image and push to Repository'
        run: gcloud builds submit --tag us-east1-docker.pkg.dev/notely-483921/notely-ar-repo/notely:latest .

      - name: Run database migration scripts
        run: ./scripts/migrateup.sh

      - name: Deploy to Cloud Run
        run: gcloud run deploy notely --image us-east1-docker.pkg.dev/notely-483921/notely-ar-repo/notely:latest --region us-east1 --allow-unauthenticated --project notely-483921 --max-instances=4
